@import "tailwindcss";

@utility font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

@theme {
  --color-primary: #db324d;
  --color-secondary: #6B7280;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-text: #000000;
  --color-bg: #ffffff;

  --font-sans: 'Inter', sans-serif;

  --animation-fade-in: fadeIn 0.5s ease-in-out;
  --animation-slide-up: slideUp 0.5s ease-in-out;
}


@custom-variant dark (&:where(.dark, .dark *));

a {
  transition: all 0.2s ease;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200;
  }
  
  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/90;
  }
  
  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary/90;
  }
  
  .section-title {
    @apply text-3xl font-bold mb-8 text-center;
  }
} 

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

 @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  .animate-blink {
    animation: blink 2s step-start infinite;
  }